apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
        - name: worker
          image: linkloom-backend:latest
          imagePullPolicy: Never # For local development
          command: ["node", "dist/worker.js"]
          envFrom:
            - configMapRef:
                name: linkloom-config
            - secretRef:
                name: linkloom-secrets
